# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List popular languages for Data Science
- List commonly used libraries used in Data Science
- List Data Science tools
- Examples of arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools |
----------------------
| Python|
| R |
| SQR|
| Github |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
5**2

25

In [3]:
3/9

0.3333333333333333

In [4]:
import numpy as np

In [6]:
a=[0,1,2]

In [7]:
a[0]

0

In [8]:
print("Hello World")

Hello World

In [9]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Chuan Xue